.react-responsive-modal-modal {
  width: 560px;
  border-radius: 12px;
  padding: 0;
  background-color: #f7f9f7;

  img {
    width: 28px;
  }
  &.modal-steps {
    width: 600px;
    &.medium {
      width: 460px;
    }
    &.xlarge {
      width: 1186px;
      max-width: initial;
    }
    .large-title {
      font-size: 18px;
      margin-bottom: 10px;
      color: #353535;
      text-align: center;
      padding: 0px 10px;
      &.green {
        font-size: 25px;
        color: #53b547;
        font-weight: 600;
      }
      &.info {
        font-size: 20px;
        color: #6197a9;
        font-weight: 500;
        line-height: 1.3;
      }
    }
    .small-title {
      background-color: #56c8e112;
      color: #6197a9;
      padding: 0 0px;
      font-size: 14px;
      border: 1px solid #7acce6;
      padding: 12px;
      border-radius: 8px;
      span {
        text-decoration: underline;
        margin-bottom: 10px;
      }
      &__disc {
        position: relative;
        padding: 0 10px;
        margin: 4px 0;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          width: 4px;
          height: 4px;
          background-color: #53b547;
          border-radius: 10px;
          top: 9px;
        }
      }
    }
    .medium-title {
      font-size: 15.6px;
      color: #53a748;
      padding: 12px 20px;
      border: 1px solid #87d480;
      border-radius: 7px;
      line-height: 1.5;
      background-color: #6fc06512;
    }
  }
  .green-button {
    img {
      width: 18px;
    }
  }
  .modal-top {
    font-weight: 700;
    border-bottom: 1px solid #81c776;
    border-bottom: 1px solid #f0f0f0;
    padding: 12px 24px;
    color: rgba(0, 0, 0, 0.85);
    background: #fff;
  }
  .modal-form {
    background-color: white;
    padding: 25px;
    &__address {
      background-color: #f1f9f0;
      margin: 5px 0 20px 0;
      padding: 20px;
      border-radius: 6px;
      border: 1px solid #6cbd63;
      color: #489541;
      font-size: 16px;
    }
    &__success {
      img {
        width: 120px !important;
      }
    }
  }
  .member-confirm {
    &__title {
      font-size: 16.5px;
      margin-bottom: 14px;
      color: #85b723;
    }
    &__text {
      font-size: 16px;
      color: #585858;
    }
    input{
      height: 50px;
    }
    .green-button {
      background-color: #85b723;
      border: 0;
      border-radius: 6px;
      padding: 12px;
    }
  }
  .modal-title {
    font-size: 21px;
    font-weight: 600;
    color: #52b548;
    margin-left: 10px;
  }
  .modal-info {
    p {
      position: relative;
      font-size: 14px;
      color: #616960;
      border-bottom: 1px solid #e6e6e6;
      margin: 10px 0;
      padding: 0px 0 10px 12px;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 4px;
        height: 4px;
        background-color: #53b547;
        border-radius: 10px;
        top: 9px;
      }
    }
  }
  .modal-item {
    width: 48%;
  }
  &.modal-comment {
    width: 540px;
    textarea {
      height: 140px;
    }
  }
}
.react-responsive-modal-root {
  z-index: 99999;
}
