.center-layout {
  padding: 40px 0;
  text-align: center;
  background-color: #fafafa;
  height: calc(100vh - 224px);
  &.header-none{
    height: 100vh;
  }
  &__logo{
    margin-bottom: 20px;
    cursor: pointer;
    img{
      width: 360px;
    }
  }
  &__wrp {
    width: 450px;
    margin: 0 auto;
    padding: 50px 50px;
    border-radius: 15px;
    border: 1px solid #e6e6e6;
    background-color: white;
  }
  &__item{
    margin-bottom: 16px;
  }
  &__title {
    font-size: 32px;
    font-weight: 600;
    color: hsl(0, 0%, 24%);
  }
  &__desc {
    color: #585858;
  }
  &__input {
    height: 52px;
    font-size: 17px;
    color: #3c3b3b;
    border: 1px solid rgb(220 217 217);
    border-radius: 8px;
  }
  &__button {
    padding: 14px 27px;
    font-weight: 600;
    border-radius: 8px;
    p {
      font-size: 17px;
    }

  }
  &__form {
    &--desc {
      cursor: pointer;
      text-align: right;
      font-size: 14px;
      color: #4c4c4c;
    }
  }
}
