@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

*,
*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre,
fieldset,
ul,
ol,
menu,
form {
  margin: 0;
}

button,
fieldset,
iframe {
  border: 0;
}

fieldset,
ul,
ol,
button,
menu {
  padding: 0;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  color: inherit;
}

a,
a:focus,
button,
button:focus {
  outline: none !important;
  text-decoration: none;
}

a,
button {
  user-select: none;
  transition: all 0.3s ease-in-out;
}

button {
  cursor: pointer;
  background: none;
  box-shadow: none;
  border: none;
}

img {
  max-width: 100%;
}

section {
  padding: 80px 0;
}

label {
  margin-bottom: 0;
}

.custom-container {
  position: relative;
  max-width: 1170px;
  width: 95%;
  margin: 0 auto;
  z-index: 99;
  &.product {
    @media (max-width: 600px) {
      overflow: hidden;
    }
  }
}

.category-title {
  font-family: "Comfortaa", cursive;
  font-size: 23px;
  border-bottom: 1px solid #f1f1f1;
  padding: 6px 0;
  margin-bottom: 40px;
  text-transform: capitalize;
  color: #404040;
}

.button {
  // font-family: "Comfortaa", cursive;
  width: 85%;
  margin: 0 auto;
  background-color: #eff2ed;
  // background-color: #eff2ed52;
  display: block;
  padding: 7px;
  color: #5d5d5d;
  font-size: 10.4px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #e7e8e6;
  border-radius: 50px;
  transition: all 0.4s;
  letter-spacing: 1px;
  &-text {
    margin-right: 6px;
  }
  img {
    position: relative;
    width: 8px;
    left: 0;
    transition: all 0.4s;
  }
  &:hover {
    border-color: #f99348;
  }
  &.orange{
    background-color: #52b5481c;
    color: #52b548;
    padding: 8px 25px;
    border: 0;
    width: -moz-max-content;
    width: 100%;
    font-size: 15px;
    text-transform: none;
    letter-spacing: 0;
    transition: all .3s;
    border: 1px solid #a3ea9c;
    cursor: pointer;
    img{
      width: 30px;

    }
    p{
      font-size: 16px;
      margin-left: 10px;
      /* text-transform: uppercase; */
      letter-spacing: 0.2px;
    }
    &:hover{
      background-color: #52b54829;
    }
  }
}

.more-button {
  width: max-content;
  margin: 0 auto;
  display: block;
  margin-top: 4px;
  padding: 12px 34px;
  color: #2d2d2d;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #e8e8e8;
  border-radius: 50px;
  transition: all 0.3s;
  &:hover {
    border-color: #f99348;
  }
  &__text {
    margin-right: 12px;
    letter-spacing: 1px;
  }
  img {
    width: 16px;
  }
}

.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 1rem;
  cursor: pointer;
  .radio__label{
    font-size: 11.7px;
    user-select: none;
    // font-weight: 700;
    color: #444444;
  }
}

.checkbox__control {
  display: inline-grid;
  width: 1em;
  height: 1em;
  border-radius: 0.25em;
  border: 0.1em solid #e0e0e0;
  color: #f7923a;

  svg {
    transition: transform 0.1s ease-in 25ms;
    transform: scale(0);
    transform-origin: bottom left;
  }
}

.checkbox__input {
  display: grid;
  grid-template-areas: "checkbox";

  > * {
    grid-area: checkbox;
  }

  input {
    opacity: 0;
    width: 1em;
    height: 1em;



    &:checked + .checkbox__control svg {
      transform: scale(1);
    }
    &:checked + .checkbox__control {
      border-color: #f7923a;
    }

    &:disabled + .checkbox__control {
      color: var(--disabled);
    }
    
  }
 
}


.spans{
  margin-left: 8px;
}