@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

*,
*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-display: swap;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre,
fieldset,
ul,
ol,
menu,
form {
  margin: 0;
}

button,
fieldset,
iframe {
  border: 0;
}

fieldset,
ul,
ol,
button,
menu {
  padding: 0;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  color: inherit;
}

a,
a:focus,
button,
button:focus {
  outline: none !important;
  text-decoration: none;
}

a,
button {
  user-select: none;
  transition: all 0.3s ease-in-out;
}

button {
  cursor: pointer;
  background: none;
  box-shadow: none;
  border: none;
}

img {
  max-width: 100%;
}

section {
  padding: 80px 0;
}

label {
  margin-bottom: 0;
}

input,
textarea {
  border: 1px solid #d9d9d9;
  width: 100%;
  border-radius: 8px;
  height: 40px;
  font-size: 15px;
  text-indent: 8px;
  background-color: transparent;
}
textarea {
  height: 100px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-container {
  position: relative;
  max-width: 1182px;
  width: 82%;
  margin: 0 auto;
  z-index: 99;
  &.product {
    @media (max-width: 600px) {
      overflow: hidden;
    }
  }
}

.category-title {
  // font-family: "Comfortaa", cursive; */
  font-size: 23px;
  color: #404040;
  letter-spacing: 1.2px;
  &__wrp {
    border-bottom: 1px solid #f1f1f1;
    padding: 6px 0;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
  }
}

.slick-arrow {
  width: auto;
  height: auto;
  background-color: #ffffff;
  padding: 6px;
  border-radius: 50px;
  z-index: 9;
  top: 50%;
  &:before {
    color: #ff9800;
    font-size: 26px;
    position: relative;
    top: 1px;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: white;
  }
}

.slick-next {
  right: -20px;
}

.slick-prev {
  left: -20px;
}

.big-title {
  position: relative;
  text-align: center;
  font-weight: 100;
  letter-spacing: 8px;
  width: max-content;
  margin: 60px auto 0px;
  font-size: 36px;
  &:after {
    content: "";
    position: absolute;
    right: -36px;
    width: 25px;
    height: 1px;
    background-color: #535659;
    top: 50%;
    transform: translateY(-50%);
  }
  &:before {
    content: "";
    position: absolute;
    left: -46px;
    width: 25px;
    height: 1px;
    background-color: #535659;
    top: 50%;
    transform: translateY(-50%);
  }
}

.home-product {
  &__wrp {
    &:nth-child(5) {
      .tab-list__title {
        font-size: 13px;
      }
    }
  }
}
.tab {
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #f1f1f1;
    &__title {
      text-transform: uppercase;
      color: #4e4e4e;
      font-size: 14px;
      font-weight: 600;
      margin: 0px 14px;
      border-bottom: 2px solid transparent;
      letter-spacing: 0.6px;
      cursor: pointer;
      transition: all 0.3s;
      padding: 6px 0px;
      &.react-tabs__tab--selected {
        border-color: #ef9b51;
        color: #f09b51;
      }
    }
  }
}

.ant-form-item {
  margin-bottom: 0 !important;
}

.ant-form-item-explain,
.ant-form-item-extra {
  text-align: left;
}

.sahin {
  text-align: center;
  margin-bottom: 24px;
  color: #d7d7d7;
  letter-spacing: 5px;
  font-size: 13px;
}
