@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

*,
*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-display: swap;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre,
fieldset,
ul,
ol,
menu,
form {
  margin: 0;
}

button,
fieldset,
iframe {
  border: 0;
}

fieldset,
ul,
ol,
button,
menu {
  padding: 0;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  color: inherit;
}

a,
a:focus,
button,
button:focus {
  outline: none !important;
  text-decoration: none;
}

a,
button {
  user-select: none;
  transition: all 0.3s ease-in-out;
}

button {
  cursor: pointer;
  background: none;
  box-shadow: none;
  border: none;
}

img {
  max-width: 100%;
}

section {
  padding: 80px 0;
}

label {
  margin-bottom: 0;
}

input,
textarea {
  border: 1px solid #d9d9d9;
  width: 100%;
  border-radius: 8px;
  height: 40px;
  font-size: 15px;
  text-indent: 8px;
  background-color: transparent;
}
textarea {
  height: 100px;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-container {
  position: relative;
  max-width: 1480px;
  width: 82%;
  margin: 0 auto;
  z-index: 99;
  &.product {
    @media (max-width: 600px) {
      overflow: hidden;
    }
  }
}

.category-title {
  font-family: "Comfortaa", cursive;
  font-size: 23px;
  color: #404040;
  border-bottom: 1px solid #f1f1f1;
  padding: 6px 0;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.slick-arrow {
  width: auto;
  height: auto;
  background-color: #ffffff;
  padding: 6px;
  border-radius: 50px;
  z-index: 9;
  top: 50%;
  &:before {
    color: #ff9800;
    font-size: 26px;
    position: relative;
    top: 1px;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: white;
  }
}

.slick-next {
  right: -20px;
}

.slick-prev {
  left: -20px;
}
