.my-orders {
  position: relative;
  z-index: 9;
  &__header {
    position: relative;
    background-image: url("https://media.istockphoto.com/vectors/racks-with-clothes-on-hangers-flat-design-style-modern-vector-id612506266?k=20&m=612506266&s=612x612&w=0&h=naySlnwkIhRB5kUFgIlDyqkcHPBkEmF82F-he9jqTyA=");
    height: 150px;
    background-size: auto;
    background-position: 0% 25%;
    border-bottom: 1px solid #fdf1ea;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: #fffffff2;
    }
    p {
      width: max-content;
      color: #eb9f71;
      font-size: 40px;
      font-weight: 800;
    }
    span {
      color: #a15d33;
      font-size: 17px;
    }
    &-text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 99;
    }
  }
  &__filter {
    .filter-item {
      position: relative;
      padding:20px 0;
      width: 100%;
      text-align: center;
      color: #585858;
      cursor: pointer;
      transition: all 0.3s;
      &:after{
        content:'';
        position: absolute;
        width: 100%;
        height: 2px;
        left:0;
        bottom: 0;
        opacity: 0.2;
        transition: all .3s ease-in-out;
      }
      &:nth-child(1) {
        &:after{
          background-color: #5e5e5e;
        }
      }
      &:nth-child(2) {
        &:after{
          background-color: #f49f57;
        }
      }
      &:nth-child(3) {
        &:after{
          background-color: #9edf7b;
        }
      }
      &:nth-child(4) {
        &:after{
          background-color: #df8483;
        }
      }
      &:nth-child(5) {
        &:after{
          background-color: #85c563;;
        }
      }
      &.active{
        &:after{
          opacity: 1;
        }
      }
    }
  }
  &__status {
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    position: relative;
    top: 20px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
  &__item {
    margin: 20px 0;
    border: 1px solid #f39f57;
    padding: 18px 20px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    &-image {
      width: 70px;
      height: 70px;
      flex-shrink: 0;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50px;
        object-fit: contain;
        border: 1px solid #c5c5c5;
      }
    }
    &-title {
      width: 200px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 19px;
      color: #5a5a5a;
      font-weight: 600;
    }
    &-price {
      width: max-content;
      color: #57b11f;
      font-weight: 600;
      font-size: 20px;
    }
    &-date {
      font-size: 15px;
      color: #6e6e6e;
    }
    &-butic {
      font-size: 15px;
      color: #f49f57;
    }
    &-actions {
      display: flex;
      flex-direction: column;
      justify-content: initial;
      align-items: end;
    }
    &-button {
      display: flex;
      align-items: center;
      border: 1px solid #7cc250;
      padding: 4px 17px;
      border-radius: 50px;
      font-size: 15.9px;
      color: #57b11f;
      cursor: pointer;
      background-color: #7ac14e0a;
      transition: all 0.3s;
      width: 250px;
      .icon {
        position: relative;
        left: 0;
        transition: all 0.3s;
      }
      &:hover {
        background-color: #7ac14e14;
        padding-right: 25px;
        .icon {
          left: 15px;
        }
      }
    }
    &-prepare {
      border-color: #f39f57;
    }
    &-cargo {
      border-color: #8bd169;
    }
    &-cancel {
      border-color: #d95656;
    }
  }
}
