.order-detail {
  &__left {
    border: 1px solid #efefef;
    padding: 16px;
    border-radius: 6px;
    background-color: #f79d4d05;
  }
  &__butic {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
    img {
      width: 60px;
      border-radius: 50px;
    }
  }
  &__user {
    &-item {
      border-bottom: 1px solid #efefef;
      padding: 10px 0;
      p {
        font-size: 14px;
        color: #f7923b;
        font-weight: 600;
      }
      span {
        color: #8b6e6e;
        font-size: 15px;
      }
    }
  }
  &__status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    height: 60px;
    color: white;
    margin-bottom: 26px;
    a {
      padding: 7px 25px;
      border-radius: 6px;
      border: 1px solid white;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
    }
    p {
      font-size: 16px;
      font-weight: 600;
    }

    &.prepare {
      background-color: #f39f57;
      // border: 1px solid #df9c62;
    }
    &.cargo {
      background-color: #85bb6b;
      // border: 1px solid #7bb55f;
    }
    &.success {
      background-color: #7cbb5d;
      // border: 1px solid #7bb55f;
    }
    &.cancel {
      background-color: #d95656;
      // border: 1px solid #7bb55f;
    }
  }
  &__product {
    border: 1px solid #efefef;
    padding: 10px;
    border-radius: 6px;
    &-info {
      background-color: #f7fdf6;
      width: 100%;
      padding: 20px;
    }
    &-image {
      border-radius: 6px;
      width: max-content;
      border: 1px solid #e5e5e5;
      overflow: hidden;
      img {
        width: 195px;
      }
    }
    &-name {
      font-size: 24px;
      padding: 0 10px 0 0;
      color: #545454;
      font-weight: 600;
    }
    &-price {
      font-size: 25px;
      font-weight: 600;
      color: #f7923a;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
    padding: 14px 0;
    &-item {
      width: 245px;
      display: flex;
      align-items: center;
      font-size: 16px;
      color: #87ab4f;
      p {
        width: 130px;
      }
      span {
        margin-left: 5px;
        font-weight: 600;
        border: 1px solid #ebebeb;
        padding: 2px 10px 4px;
        border-radius: 6px;
      }
    }
  }
  &__error {
  }
}

.cargo-tracking {
  &__item {
    position: relative;
    padding: 15px 40px;
    &-desc {
      color: #ef8f3b;
      margin-top: -4px;
      font-size: 16px;
      font-weight: 600;
    }
    &-date {
      color: #8b6e6e;
      font-size: 15px;
    }
    &-location {
      color: #8b6e6e;
      font-size: 15px;
    }
    &:before {
      content: "";
      width: 18px;
      height: 18px;
      border: 1px solid #f7923b;
      background: #fff;
      border-radius: 50%;
      left: 6px;
      top: calc(50% - 18 px);
      position: absolute;
      z-index: 1;
    }
    &:after {
      content: "";
      width: 0.5px;
      height: 100%;
      background: #f7923b;
      left: 15px;
      top: 0;
      position: absolute;
      z-index: 0;
    }
    &:first-child {
      &:after {
        height: 70%;
        top: 30%;
      }
    }
    &:last-child {
      &:after {
        height: 30%;
      }
    }
    &.checked {
      &:before {
        border: none;
        content: url(https://kargomnerede.co/icons/check-green.svg);
      }
    }
  }
  &__logo {
    width: 100px !important;
  }
}

.modal-comment {
  .upload-image-button {
    width: 110px;
    height: 110px;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    padding: 22px;
    margin-right: 8px;
    cursor: pointer;
    color: #f7923a;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s;
    &:hover {
      border-color: #f7923a;
    }
    p {
      font-size: 15px;
      line-height: 1.1;
      margin-top: 8px;
    }
  }
  .image-item {
    position: relative;
    width: 110px;
    height: 110px;
    border: 1px solid #7c7c7c;
    border-radius: 6px;
    box-shadow: #e3e3e3 1px 7px 11px 1px;
    margin: 0 8px;
    &:nth-child(4) {
      margin-right: 0;
    }
    img {
      height: 100%;
      object-fit: cover;
      border-radius: 6px;
    }
    &__actions {
      position: absolute;
      top: -4px;
      right: -10px;
      &-item {
        border: 2px solid #f7923b;
        width: 31px;
        height: 31px;
        border-radius: 50px;
        background-color: #313232;
        font-size: 15px;
        color: #f7923b;
      }
    }
  }
  &__info {
    color: #818181;
    font-size: 14px;
    text-align: left;
  }
  .small-info {
    font-size: 12px;
  }
}
