.product {
  &-item {
    background-color: #f9f9f9;
    padding: 40px 0;
    &:nth-child(2n) {
      background-color: #fdfdfd;
    }
    &.category {
      padding: 0;
      background-color: white;
      margin-top: 25px;
      .product-card__cell {
        width: 25%;
      }
      .filter {
        font-family: "Comfortaa", cursive;
        position: sticky;
        top: 20px;
        height: 100vh;
        &-item {
          padding: 0px 19px 11px 0;
          border-bottom: 1px solid #f1f1f1;
          margin: 0 20px 0 0;
        }
        &-title {
          font-size: 12.4px;
          font-weight: 900;
          padding: 5px 0px;
          margin: 12px 0 6px;
        }
        &-choose {
          margin-bottom: 6px;
        }
      }
    }
  }

  &-card {
    &__cell {
      width: 20%;
      margin-bottom: 50px;
      padding: 0 12px;
      @media (max-width: 600px) {
        width: 50%;
      }
      &:hover {
        .product-card__price {
          color: #f7923a;
        }
      }
    }
    &__item {
      position: relative;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.4s ease;
    }
    &__butic {
      position: absolute;
      width: max-content;
      border: 1px solid #ececec;
      border-radius: 50px;
      transition: all 0.3s;
      cursor: pointer;
      overflow: hidden;
      top: -12px;
      left: -7px;
      transition: all .3s;
      z-index: 9;
      img {
        width: 42px;
      }
      &:hover {
        border-color: #ff9800;
        transform: scale(1.1);
      }
    }
    &__image {
      border-radius: 10px;
      transition: all 0.4s;
      width: 100%;
      height: 290px;
      overflow: hidden;
      // border: 1px solid #d8d8d859;
      // padding: 5px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
      }
      &:hover {
        box-shadow: 10px 10px 20px -12px #d3d3d3;
      }
    }
    &__info {
      margin: -5px 12px 8px;
    }
    &__name {
      font-family: "Comfortaa", cursive;
      font-size: 12px;
      text-align: center;
      margin: 18px 0 6px;
      color: #717171;
      transition: all 0.3s;
      &:hover {
        color: #f7923a;
      }
    }
    &__price {
      font-family: "Comfortaa", cursive;
      position: relative;
      color: #464645;
      font-size: 19px;
      text-align: center;
      font-weight: 900;
      letter-spacing: 0.1px;
      transition: all 0.3s;
    }
    &__whatsapp {
      width: max-content;
      margin: 0 auto;
      border-bottom: 1px solid #64b1612e;
      padding-bottom: 2px;
      img {
        position: relative;
        width: 18px;
        top: -2px !important;
      }
      span {
        font-family: "Comfortaa", cursive;
        font-size: 11.4px;
        color: #62985f;
        margin-left: 5px;
        @media (max-width: 600px) {
          font-size: 13px;
        }
      }
    }
  }
}
