//Detail Header
.detail-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 18px 0;
  margin-bottom: 25px;
  border-bottom: 1px solid #ececec;
  background-image: url(https://cdn.dsmcdn.com/web/production/collection-header-background.png);
  background-size: cover;
  z-index: 999;
  &__logo {
    img {
      width: 60px;
      height: 60px;
      border-radius: 50px;
      border: 1px solid #ececec;
      cursor: pointer;
    }
  }
  &__title {
    font-size: 22px;
    font-weight: 600;
  }
  &__price {
    font-size: 28px;
    font-weight: 600;
    margin-right: 25px;
  }
  &__butic {
    font-family: "Comfortaa", cursive;
    font-size: 14px;
    color: #636363;
    text-decoration: underline;
    cursor: pointer;
  }
  &__point {
    position: relative;
    top: -1px;
    background-color: #2db720;
    font-size: 12px;
    color: white;
    margin-left: 10px;
    padding: 0px 4px;
    border-radius: 4px;
    font-weight: 600;
  }
  &__info {
    position: absolute;
    font-size: 10px;
    margin-right: 17px;
    color: #96b791;
    bottom: -17px;
    right: 0;
    cursor: pointer;
    text-decoration: underline;
  }
  &__action {
    img {
      width: 30px;
    }
  }
}

.product-detail {
  &__gallery {
    position: relative;
    border-radius: 12px;
    border: 1px solid #ececec;
    padding: 6px;
    cursor: grab;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
    .slick-track {
      display: flex !important;
    }
    .slick-slide {
      height: 560px;
    }
    .slick-dots {
      bottom: 6px;
    }
    .slick-arrow {
      border: 1px solid #ececec;
    }
  }
  &__instagram {
    position: absolute;
    height: 20px;
    top: 22px;
    right: 22px;
    cursor: pointer;
    opacity: 0.5;
    z-index: 9;
    transition: all 0.3s;
    &:hover {
      opacity: 1;
    }
    img {
      width: 25px !important;
      border-radius: 0;
    }
  }
  &__thumbs {
    .thumbnail-slider-wrap {
      .slick-track {
        width: 100% !important;
      }
      .slick-list {
        display: flex;
        flex-direction: column;
      }
      .slick-slide {
        width: 70px !important;
        height: 70px;
        margin: 3px 12px 6px 0;
        cursor: pointer;
        img {
          height: 100%;
          width: 100%;
          border: 1px solid #e0e0e0;
          border-radius: 10px;
          padding: 2px;
        }
        &.slick-current {
          img {
            border-color: #52b548;
          }
        }
      }
    }
  }
  .product-info {
    padding: 20px;
    &__name {
      font-size: 32px;
      font-weight: 600;
    }
    &__title {
      font-size: 12px;
      color: #252525;
      font-weight: bolder;
      border-bottom: 1px solid #929292;
    }
    &__desc {
      color: #6d6d6d;
      font-size: 15px;
      &.color {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-right: 8px;
        cursor: pointer;
        &.selected{
          border-color: #1a6011;
        }
      }
      &.size {
        border: 1px solid #e5e5e5;
        margin: 0px 5px 0 0;
        padding: 2px 16px;
        border-radius: 4px;
        cursor: pointer;
        &.selected{
          background-color: #f3f3f3;
          border-color: #59b54687;
        }
      }
    }
  }
  &__comments {
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 35px;
    &-wrp {
      display: flex;
      flex-direction: column-reverse;
      width: 80%;
      margin: 0 auto;
      padding: 40px;
      border: 1px solid #e6e6e6;
      border-radius: 12px;
      box-shadow: 1px 1px 60px 6px rgb(9 109 217 / 8%);
    }
    &-item {
      display: flex;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #e6e6e6;
      &:first-child {
        padding: 0;
        margin: 0;
        border-bottom: 0;
      }
    }
    &-avatar {
      width: 60px !important;
      height: 60px !important;
      div {
        font-size: 20px !important;
      }
    }
    &-name {
      font-size: 18px;
      font-weight: 600;
    }
    &-text {
      width: 80%;
      color: #676767;
    }
  }
  &__similar {
    .slick-slide {
      padding: 12px 0;
    }
    .slick-arrow {
      top: 36%;
    }
  }
  &__more {
    background-color: #f5ecd7;
    &-item {
      position: relative;
      height: 286px;
      cursor: pointer;
      overflow: hidden;
      img {
        transform: scale(1);
        transition: all 0.4s ease-in;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      &:hover {
        .product-detail__more-title {
          color: white;
          background-color: #f7923a;
        }
        img {
          transform: scale(1.1);
        }
        &::after {
          background-color: transparent;
        }
      }
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.4s;
        left: 0;
        top: 0;
        background-color: #311e2c7d;
      }
    }
    &-title {
      position: absolute;
      width: max-content;
      font-size: 22px;
      font-weight: 500;
      background-color: #000000c7;
      color: #dad9da;
      // right: 19px;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 5px 20px;
      top: 50%;
      transform: translateY(-50%);
      letter-spacing: 4px;
      z-index: 9;
      transition: all 0.4s;
      &.gender {
        font-size: 13px;
        font-weight: 500;
        background-color: #ffffffe6;
        color: black;
        top: auto;
        bottom: 16px;
      }
    }
  }
  &.filter {
    &.modal-type {
      display: flex;
      justify-content: space-evenly;
      .product-info__title {
        font-size: 15px;
        color: #828282;
        font-weight: inherit;
        border-bottom: 1px solid #d3d3d3;
      }
    }
  }
}

.general {
  // overflow: hidden;
}
